$borderColor: #537078;
$innerBorderWidth: 2px;
$outerBorderWidth: 4px;
$keyColor: #b5b8bd;
$solutionColor: #60c1ee;
$mainFontSize: 24px;
$invalidCandidateColor: #666;
$validCandidateColor: #999;
$candidateBtnColor: #009eff;
$valueBtnColor: green;

html {
  // height: 100%;
}

body {
  margin: 0;
  background: #000;
  font-family: -apple-system, Arial, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  // position: fixed;
  // width: 100%;
  // height: 100%;
}

.game {
  max-width: 400px;
  width: 100%;
  margin: auto auto 0;
}

.btn {
  display: inline-block;
  -webkit-appearance: none;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 1px solid;
  font-weight: bold;
  border-radius: 2px;
  padding: 5px 10px;
  color: #aaa;
}

.board {
  border: $outerBorderWidth solid $borderColor;
}

.row {
  display: flex;
  border-bottom: $innerBorderWidth solid $borderColor;

  &:nth-child(3n) {
    border-bottom: $outerBorderWidth solid $borderColor;
  }

  &:last-child {
    border-bottom: none;
  }
}

.cell {
  width: 11.11111%;
  border-right: $innerBorderWidth solid $borderColor;
  position: relative;
  cursor: pointer;

  &:nth-child(3n) {
    border-right: $outerBorderWidth solid $borderColor;
  }

  &:last-child {
    border-right: none;
  }

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &::after {
    content: attr(data-value);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: $solutionColor;
    line-height: 1;
  }

  &.key {

    &::after {
      color: $keyColor;
    }
  }

  &.highlight {
    background: #092741;
  }

  &.same {
    background: #1b401e;
  }

  &.selected {
    background: #36474f;
  }

  &.error::after {
    color: #f51414;
  }
}

.candidates-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.candidate {
  width: 33.3333%;
  position: relative;
  visibility: hidden;
  color: $invalidCandidateColor;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 14px;

  &.visible {
    visibility: visible;
  }

  &.valid {
    color: $validCandidateColor;
  }

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &::after {
    content: attr(data-value);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
  }

  @media screen and (max-width: 767px) {
    font-size: 11px;
  }
}

.controls {
  margin-top: 20px;
  position: relative;
}

.pads-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.pad {
  $gap: 2px;
  display: flex;
  flex-wrap: wrap;
  width: 130px;
  margin-top: -$gap;
  margin-left: -$gap;
  border: 4px solid transparent;

  &__btn {
    width: calc((100% - $gap * 3) / 3);
    color: #fff;
    margin-top: $gap;
    margin-left: $gap;
    position: relative;
    font-family: -apple-system, Arial, sans-serif;
    border-radius: 2px;
  
    &::before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  
    &::after {
      content: attr(data-value);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_candidate {
      background: $candidateBtnColor;
      font-size: 80%;

      &.active {
        background: darken($candidateBtnColor, 10%);
      }

      &.disabled {
        background: rgba(lighten($candidateBtnColor, 30%), .9);
      }
    }

    &_value {
      background: $valueBtnColor;
      font-size: 120%;

      &.active {
        background: darken($valueBtnColor, 10%);
      }

      &.disabled {
        background: rgba(lighten($valueBtnColor, 60%), .9);
      }

      &.finished {
        background: rgba(lighten($valueBtnColor, 90%), .6);
      }
    }
  }
}

.show-toolbar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.toolbar {
  display: flex;
  flex-direction: column;
  max-width: 150px;
}

.new-game-label {
  color: #fff;
  margin: 20px 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 120%;
}

.new-game-btn {
  display: block;
  width: 100%;
  color: #ddd;

  & + & {
    margin-top: 20px;
  }
}